.lower {
    min-height: vars.rem(273);
    display: grid;
    grid-template-columns: vars.rem(470) 1fr vars.rem(500);

    @include vars.media(tablet-wide, max) {
        height: vars.rem(769);
        grid-template-columns: 1fr;
        grid-template-rows: vars.rem(240) 1fr vars.rem(227);
    }

    .left {
        background: url(/images/image-about-dark.jpg);
    }
    .right {
        background: url(/images/image-about-light.jpg);
    }
    .right,
    .left {
        background-position: center center;
        background-size: cover;
    }

    .about {
        padding: vars.rem(60) vars.rem(50);

        @include vars.media(tablet-wide, max) {
            padding: vars.rem(60) vars.rem(30);
        }
    }

    .title {
        text-transform: uppercase;
        letter-spacing: vars.rem(6);
        font-size: vars.rem(14);
        margin-bottom: vars.rem(20);
    }

    .content {
        color: vars.$dark-gray;
    }
}
