.upper {
    min-height: vars.rem(534);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include vars.media(tablet-wide, max) {
        height: vars.rem(769);
        grid-template-columns: 1fr;
        grid-template-rows: vars.rem(360) 1fr;
    }

    .home {
        grid-column: span 7;
        padding: vars.rem(60);
        @include vars.flexer(start, start);
        position: relative;

        @include vars.media(tablet-wide, max) {
            padding: vars.rem(45) vars.rem(25);
        }
    }
    .home-bg {
        @include vars.pseudo(block, absolute, 100%, 100%);
        top: 0;
        left: 0;

        & > * {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: opacity 0.3s;
        }

        .one {
            background: url(/images/desktop-image-hero-1.jpg);
            background-size: cover;

            @include vars.media(tablet-wide, max) {
                background: url(/images/mobile-image-hero-1.jpg);
            }
        }
        .two {
            background: url(/images/desktop-image-hero-2.jpg);
            background-size: cover;

            @include vars.media(tablet-wide, max) {
                background: url(/images/mobile-image-hero-2.jpg);
            }
        }
        .three {
            background: url(/images/desktop-image-hero-3.jpg);
            background-size: cover;

            @include vars.media(tablet-wide, max) {
                background: url(/images/mobile-image-hero-3.jpg);
            }
        }
    }

    .none {
        opacity: 0;
    }

    .logo {
        background: url(/images/logo.svg) center center/contain no-repeat;
        height: vars.rem(18);
        width: vars.rem(69);
        margin-right: vars.rem(60);
        position: relative;

        @include vars.media(tablet-wide, max) {
            margin: 0 auto;
        }
    }

    .navbar {
        @include vars.flexer();
        color: vars.$white;
        text-transform: lowercase;
        transition: transform 0.5s;
        z-index: 30;

        @include vars.media(tablet-wide, max) {
            position: absolute;
            background: vars.$white;
            height: vars.rem(112);
            align-items: center;
            justify-content: end;
            width: 100%;
            right: 0;
            padding-right: vars.rem(24);
            top: 0;
            color: vars.$black;
            font-weight: bold;
            transform: translateY(-100%);
        }

        &.active {
            @include vars.media(tablet-wide, max) {
                transform: translateY(0);
            }
        }

        a {
            position: relative;
            &:not(:first-child) {
                margin-left: vars.rem(30);
            }

            &::after {
                content: '';
                @include vars.pseudo(block, absolute, vars.rem(17), vars.rem(2));
                top: calc(100% + vars.rem(5));
                left: 50%;
                transform: translateX(-50%) scaleX(0);
                transform-origin: left;
                background: vars.$white;
                transition: transform 0.5s;
            }

            &:hover::after {
                transform: translateX(-50%) scaleX(1);
            }
        }
    }
    .navbar.active + .darkener {
        @include vars.media(tablet-wide, max) {
            position: absolute;
            backdrop-filter: brightness(0.5);
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 20;
        }
    }

    .menu {
        font-size: vars.rem(25);
        color: vars.$white;
        @include vars.pseudo(block, absolute);
        top: vars.rem(42);
        z-index: 40;
        cursor: pointer;
        @include vars.media(tablet-wide) {
            display: none;
        }
    }
    .menu-close {
        color: vars.$dark-gray;
    }
    .inactive {
        display: none;
    }

    .btns {
        @include vars.pseudo(flex, absolute, vars.rem(140), vars.rem(70));
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        div {
            background: #000;
            width: 50%;
            height: 100%;
            cursor: pointer;
            @include vars.flexer(center, center);

            &:hover {
                background: vars.$very-dark-gray;
            }

            span {
                display: block;
                width: vars.rem(14);
                height: vars.rem(25);
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                pointer-events: none;
            }
        }

        @include vars.media(tablet-wide, max) {
            transform: translateX(0);
            width: vars.rem(120);
            height: vars.rem(60);
        }

        .left span {
            background: url(/images/icon-angle-left.svg);
        }
        .right span {
            background: url(/images/icon-angle-right.svg);
        }
    }

    .discovery {
        grid-column: span 5;
        padding: vars.rem(120) vars.rem(100);

        @include vars.media(tablet-wide, max) {
            padding: vars.rem(70) vars.rem(30);
        }

        a {
            text-transform: uppercase;
            letter-spacing: vars.rem(14);
            @include vars.flexer();
            color: vars.$black;

            &:hover {
                color: vars.$dark-gray;

                path {
                    fill: vars.$dark-gray;
                }
            }
        }
    }
    .title {
        font-size: vars.rem(35);
        margin-bottom: vars.rem(40);
        line-height: 1;

        @include vars.media(tablet-wide, max) {
            font-size: vars.rem(26);
        }
    }
    .content {
        font-size: vars.rem(13);
        margin-bottom: vars.rem(35);
        color: vars.$dark-gray;

        @include vars.media(tablet-wide, max) {
            font-size: vars.rem(12);
        }
    }
    .arrow {
        margin-left: vars.rem(43);
        width: vars.rem(43);
    }
}
