@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
.upper .home, .upper .navbar, .upper .btns div, .upper .discovery a {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
  background: white;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}
.container > * {
  width: 100%;
}

.upper .home, .upper .navbar, .upper .btns div, .upper .discovery a {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
  background: white;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.upper {
  min-height: 33.375rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media only screen and (max-width: 1023px) {
  .upper {
    height: 48.0625rem;
    grid-template-columns: 1fr;
    grid-template-rows: 22.5rem 1fr;
  }
}
.upper .home {
  grid-column: span 7;
  padding: 3.75rem;
  align-items: start;
  justify-content: start;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .upper .home {
    padding: 2.8125rem 1.5625rem;
  }
}
.upper .home-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.upper .home-bg > * {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.3s;
}
.upper .home-bg .one {
  background: url(/images/desktop-image-hero-1.jpg);
  background-size: cover;
}
@media only screen and (max-width: 1023px) {
  .upper .home-bg .one {
    background: url(/images/mobile-image-hero-1.jpg);
  }
}
.upper .home-bg .two {
  background: url(/images/desktop-image-hero-2.jpg);
  background-size: cover;
}
@media only screen and (max-width: 1023px) {
  .upper .home-bg .two {
    background: url(/images/mobile-image-hero-2.jpg);
  }
}
.upper .home-bg .three {
  background: url(/images/desktop-image-hero-3.jpg);
  background-size: cover;
}
@media only screen and (max-width: 1023px) {
  .upper .home-bg .three {
    background: url(/images/mobile-image-hero-3.jpg);
  }
}
.upper .none {
  opacity: 0;
}
.upper .logo {
  background: url(/images/logo.svg) center center/contain no-repeat;
  height: 1.125rem;
  width: 4.3125rem;
  margin-right: 3.75rem;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .upper .logo {
    margin: 0 auto;
  }
}
.upper .navbar {
  color: white;
  text-transform: lowercase;
  transition: transform 0.5s;
  z-index: 30;
}
@media only screen and (max-width: 1023px) {
  .upper .navbar {
    position: absolute;
    background: white;
    height: 7rem;
    align-items: center;
    justify-content: end;
    width: 100%;
    right: 0;
    padding-right: 1.5rem;
    top: 0;
    color: black;
    font-weight: bold;
    transform: translateY(-100%);
  }
}
@media only screen and (max-width: 1023px) {
  .upper .navbar.active {
    transform: translateY(0);
  }
}
.upper .navbar a {
  position: relative;
}
.upper .navbar a:not(:first-child) {
  margin-left: 1.875rem;
}
.upper .navbar a::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.0625rem;
  height: 0.125rem;
  top: calc(100% + 0.3125rem);
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  background: white;
  transition: transform 0.5s;
}
.upper .navbar a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
@media only screen and (max-width: 1023px) {
  .upper .navbar.active + .darkener {
    position: absolute;
    backdrop-filter: brightness(0.5);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
  }
}
.upper .menu {
  font-size: 1.5625rem;
  color: white;
  display: block;
  position: absolute;
  top: 2.625rem;
  z-index: 40;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .upper .menu {
    display: none;
  }
}
.upper .menu-close {
  color: #a1a1a1;
}
.upper .inactive {
  display: none;
}
.upper .btns {
  display: flex;
  position: absolute;
  width: 8.75rem;
  height: 4.375rem;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}
.upper .btns div {
  background: #000;
  width: 50%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.upper .btns div:hover {
  background: #454545;
}
.upper .btns div span {
  display: block;
  width: 0.875rem;
  height: 1.5625rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
@media only screen and (max-width: 1023px) {
  .upper .btns {
    transform: translateX(0);
    width: 7.5rem;
    height: 3.75rem;
  }
}
.upper .btns .left span {
  background: url(/images/icon-angle-left.svg);
}
.upper .btns .right span {
  background: url(/images/icon-angle-right.svg);
}
.upper .discovery {
  grid-column: span 5;
  padding: 7.5rem 6.25rem;
}
@media only screen and (max-width: 1023px) {
  .upper .discovery {
    padding: 4.375rem 1.875rem;
  }
}
.upper .discovery a {
  text-transform: uppercase;
  letter-spacing: 0.875rem;
  color: black;
}
.upper .discovery a:hover {
  color: #a1a1a1;
}
.upper .discovery a:hover path {
  fill: #a1a1a1;
}
.upper .title {
  font-size: 2.1875rem;
  margin-bottom: 2.5rem;
  line-height: 1;
}
@media only screen and (max-width: 1023px) {
  .upper .title {
    font-size: 1.625rem;
  }
}
.upper .content {
  font-size: 0.8125rem;
  margin-bottom: 2.1875rem;
  color: #a1a1a1;
}
@media only screen and (max-width: 1023px) {
  .upper .content {
    font-size: 0.75rem;
  }
}
.upper .arrow {
  margin-left: 2.6875rem;
  width: 2.6875rem;
}

.lower {
  min-height: 17.0625rem;
  display: grid;
  grid-template-columns: 29.375rem 1fr 31.25rem;
}
@media only screen and (max-width: 1023px) {
  .lower {
    height: 48.0625rem;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr 14.1875rem;
  }
}
.lower .left {
  background: url(/images/image-about-dark.jpg);
}
.lower .right {
  background: url(/images/image-about-light.jpg);
}
.lower .right,
.lower .left {
  background-position: center center;
  background-size: cover;
}
.lower .about {
  padding: 3.75rem 3.125rem;
}
@media only screen and (max-width: 1023px) {
  .lower .about {
    padding: 3.75rem 1.875rem;
  }
}
.lower .title {
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
.lower .content {
  color: #a1a1a1;
}

/*# sourceMappingURL=style.css.map */
